{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Online Machine Learning Class</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--css tags-->
    <link rel="stylesheet" href="{% static 'css/cssReset.css' %}?{% now 'U' %}" />
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}?{% now 'U' %}" />
    <link rel="stylesheet" href="{% static 'codemirror-5.65.3/lib/codemirror.css' %}?{% now 'U' %}" />
    <link rel="stylesheet" href="{% static 'codemirror-5.65.3/theme/dracula.css' %}?{% now 'U' %}" />
    <!--JS TAGAS-->
    <script type="text/javascript" src="{% static 'codemirror-5.65.3/mode/css/css.js' %}?{% now 'U' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror-5.65.3/lib/codemirror.js' %}?{% now 'U' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror-5.65.3/mode/python/python.js' %}?{% now 'U' %}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/quiz.js' %}?{% now 'U' %}"></script>
  </head>
  <body>
    <!--내비게이션 있음-->
    {% include "../navigation.html" %}


    <div class="container">
      {% include "../sidebar.html" %}


      <div class="class-content">
        <h2>Training Process</h2>
        <h3>Quiz 2</h3>
        <p>
          다음 validation 과정에서 QUIZ 사이에 들어갈 코드로 알맞은 것은?
          <br/><br/>         
          <textarea id="code1">
***        QUIZ        ***

***        QUIZ        ***
current_loss = 0.0
for step, (inputs, labels) in enumerate(valid_loader):
  inputs, labels = inputs.to(device), labels.to(device)
  logits = model(inputs)
        
  loss = criterion(logits.squeeze(1), labels.float())
  current_loss += loss.item()
valid_loss = current_loss / len(valid_loader)            
          </textarea>
          <br>
          <form id="send_editor" method="POST">
            <input type="hidden" name="qno" value="6-2"/>
            <input id="q1" type="text" style="font-size: 1rem; width: 20rem;"/>
            <br>
            <input type="submit" id="submit" value="정답 확인" />
          </form>
          <br/>
        </p>
        <a href="./step6-quiz1" class="previous">&laquo; 전 수업</a>
        <a href="../step7/step7" class="next">다음 수업 &raquo;</a>
      </div>
    </div>

    <script>
      var editor = CodeMirror.fromTextArea(document.getElementById("code1"),{
        mode:"python", 
        theme:"dracula", 
        lineNumbers: true,
        readOnly: true
      }).setSize("100%","100%");
    </script>

  <script>
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function() {
        this.classList.toggle("clicked");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
        } else {
          dropdownContent.style.display = "block";
        }
      });
    }
  </script>
  </body>
</html>