{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Online Machine Learning Class</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--css tags-->
    <link rel="stylesheet" href="{% static 'css/cssReset.css' %}?{% now 'U' %}" />
    <link rel="stylesheet" href="{% static 'css/practice.css' %}?{% now 'U' %}" />
    <link rel="stylesheet" href="{% static 'codemirror-5.65.3/lib/codemirror.css' %}?{% now 'U' %}" />
    <link rel="stylesheet" href="{% static 'codemirror-5.65.3/theme/dracula.css' %}?{% now 'U' %}" />
    <!--JS TAGAS-->
    <script type="text/javascript" src="{% static 'codemirror-5.65.3/mode/css/css.js' %}?{% now 'U' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror-5.65.3/lib/codemirror.js' %}?{% now 'U' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror-5.65.3/mode/python/python.js' %}?{% now 'U' %}"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/practice.js' %}?{% now 'U' %}"></script>

  </head>
  <body>
    <header>
      <!--내비게이션 있음-->
      
    {% include "../navigation.html" %}

    <!--컨텐트-->
    <div class="container">

    {% include "../sidebar.html" %}


      <div class="class-content">
          <h2>Understanding of Tensor</h2>
          <h3>Practice</h3>
          <p>Question: Example에서 배운 지식을 이용하여 FloatTensor의 shape에 대해서 생각해보고 Answer처럼 출력되는 t1, t2를 선언해보세요.</p>
          <h4>Answer</h4>
          <img src="{% static 'images/step1/step1-1pr-answer.png' %}?{% now 'U' %}">
          <p>요구사항: print(“torch.Size([1, 1, 1, 1]”) 를 입력하진 않았는지 검사해 줘야한다.</p>
          
          <!--입력 코드-->
          <h4>Input</h4>
          <form id="send_editor" method="post" action="/judge">
            {% csrf_token %}
            <input type="hidden" name="pno" value="1-1">
            <textarea id="inputeditor" name="code">
def practice1_1():
    t1 = torch.FloatTensor([[[1., 2., 3.],
                      [4., 5., 6.]],
                      [[7., 8., 9.],
                      [10., 11., 12.]]]
                      )
    t2=torch.FloatTensor([[[[1]]]])
    return t1, t2
            </textarea>
            <input type="submit" id="submitBtn" value="출력">
          </form>
          
          <!--출력 코드-->
          <h4>Output</h4>
          <form id="receive_editor" method="get" action="judge">
          <textarea id="outputeditor"></textarea>
          <h4>Logs</h4>
          <textarea id="erroreditor"></textarea>
          </form>
          <!--출력 코드-->
          <a href="./step1-1ex" class="previous">&laquo; 전 수업</a>
          <a href="./step1-2" class="next">다음 수업 &raquo;</a>

      </div>
      
      <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
  
        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
            this.classList.toggle("clicked");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
            } else {
              dropdownContent.style.display = "block";
            }
          });
        }
      </script>
  </body>
</html>
