{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Online Machine Learning Class</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--css tags-->
    <link rel="stylesheet" href="{% static 'css/cssReset.css' %}?{% now 'U' %}" />
    <link rel="stylesheet" href="{% static 'css/practice.css' %}?{% now 'U' %}" />
    <link rel="stylesheet" href="{% static 'codemirror-5.65.3/lib/codemirror.css' %}?{% now 'U' %}" />
    <link rel="stylesheet" href="{% static 'codemirror-5.65.3/theme/dracula.css' %}?{% now 'U' %}" />
    <!--JS TAGAS-->
    <script type="text/javascript" src="{% static 'codemirror-5.65.3/mode/css/css.js' %}?{% now 'U' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror-5.65.3/lib/codemirror.js' %}?{% now 'U' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror-5.65.3/mode/python/python.js' %}?{% now 'U' %}"></script>

  </head>
  <body>
    <!--내비게이션-->
    {% include "../navigation.html" %}
    <!--컨텐트-->
    <div class="container">
      {% include "../sidebar.html" %}
      <div class="class-content">
        <h2>Understanding of Tensor</h2>
      <h3>Example</h3>
      <!--입력 코드-->
      <h4>Input</h4>
      <textarea id="inputeditor">
import torch
#주석처리부분이 사용자가 구현해야 할 부분
def example1_1():
    # t = torch.FloatTensor([[1., 2., 3.],
    #                    [4., 5., 6.],
    #                    [7., 8., 9.],
    #                    [10., 11., 12.]
    #                   ])
    # print(t)
    # print(t.dim()) # rank (차원)
    # print(t.size()) # shape
    # print(t.shape)
    return t

if __name__ == "__main__":
    #사용자가 봐야할 t의 결과
    t=example1_1()
      </textarea>
       <!--출력 코드-->
      <h4>Output</h4>
      <textarea id="outputeditor">
tensor([[ 1.,  2.,  3.],
        [ 4.,  5.,  6.],
        [ 7.,  8.,  9.],
        [10., 11., 12.]])
2
torch.Size([4,3])
torch.Size([4,3])
      </textarea>
      
      <br/>
      <a href="./step1-1" class="previous">&laquo; 전 수업</a>
      <a href="./step1-1pr" class="next">다음 수업 &raquo;</a>

    <script>
      var editor = CodeMirror.fromTextArea(document.getElementById("inputeditor"),{
        mode:"python", 
        theme:"dracula", 
        lineNumbers: true,
        readOnly: true
      }).setSize("100%","50%");

      var editor = CodeMirror.fromTextArea(document.getElementById("outputeditor"),{
        mode:"python", 
        theme:"dracula", 
        lineNumbers: true,
        readOnly: true
      }).setSize("100%","25%");
    </script>
      </div>
    </div>
      <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
  
        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
            this.classList.toggle("clicked");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
            } else {
              dropdownContent.style.display = "block";
            }
          });
        }
      </script>
  </body>
</html>
