{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Online Machine Learning Class</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--css tags-->
    <link rel="stylesheet" href="{% static 'css/cssReset.css' %}?{% now 'U' %}" />
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}?{% now 'U' %}" />
    <!--JS TAGAS-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/quiz.js' %}?{% now 'U' %}"></script>
  </head>
  <body>
    <!--내비게이션 있음-->
    {% include "../navigation.html" %}

    <div class="container">
      {% include "../sidebar.html" %}


      <div class="class-content">
        <h2>CNN ( Convolutional Neural Network )</h2>
        <h3>Quiz</h3>
        <p>
          다음과 같은 결과에서 accuracy를 계산하여라
          Prediction: 0, 1, 1, 0, 0
          Label: 0, 1, 1, 1, 0
          <form id="send_editor" method="POST">
            <input type="hidden" name="qno" value="7"/>
            <br>
            <input id="q1" type="text" />
            <br>
            <input type="submit" id="submit" value="정답 확인" />
          </form>
          <br/>
          <div id="answer"></div>
        </p>
        <a href="./step7" class="previous">&laquo; 전 수업</a>
        <a href="../main/homepage" class="next">수업 완료</a>
      </div>
    </div>

    <script>
      var dropdown = document.getElementsByClassName("dropdown-btn");
      var i;

      for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
          this.classList.toggle("clicked");
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
            dropdownContent.style.display = "none";
          } else {
            dropdownContent.style.display = "block";
          }
        });
      }
    </script>
    </body>
  </html>